.gradient-background {
	background: linear-gradient(
		300deg,
		hsl(313, 100%, 50%),
		rgb(127, 62, 138),
		#2b0423
	);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navtext {
	font-size: 1.5em;
}

.logo {
	border-radius: 50%;
	height: 200px;
}

#carouselExampleIndicators {
	width: 30%; /* Adjust the width as needed */
	margin: 0 auto; /* Center the carousel horizontally */
}

.carousel-item img {
	max-width: 100%; /* Ensure images resize with the carousel */
	height: 500px; /* Maintain aspect ratio */
}

.quote {
	font-style: italic;
	color: #6c757d; /* Adjust color as needed */
}

.quote-author {
	font-weight: bold;
	margin-top: 1rem;
}
